.hero-container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .hero-title-block{
    width: 50vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
    background-color: #ed855c;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    text-align: center;
  }
  
  .hero-title-accent {
    width: 50vw;
    height: 80vh;
    margin-top: 14vh;
    margin-left: 7vw;
    background-color: #8eaebd;
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    text-align: center;
    animation: 2s ease-in 0s 1 slideout;
  }

  @media screen and (max-width: 1000px) {
    .hero-title-block{
      width: 500px;
    }
    .hero-title-accent{
      width: 500px;
    }
  }
  
  @keyframes slideout {
    0% {
      transform: translate3d(4vh, -4vh, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .hero-title-text {
    width: 90%;
    margin-top: 10vh;
    margin-inline: auto;
    font-size: 100px;
    color: #fedcd2;
  }
  
  .hero-subtitle-text {
    width: 90%;
    margin-inline: auto;
    font-size: 30px;
    color: #fedcd2;
  }
  
  .hero-block {
    background-color: #fedcd2;
    width: 50vw;
  }
  
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/src/images/juliaMain.jpg");
  
    /* Set a specific height */
    width: 50vw;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }