.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: space-evenly;
    width: 500px;
}

.contact-button-container {
    border-radius: 50%;
    padding: 15px;
    padding-bottom: 12px; /* For some reason this makes it more consistent */
}