
.container {
    width: 100vw;
    text-align: center;
    margin-top: 0px;
}

.list-container {
    width: 70%;
    margin: auto;
}

.header-block {
    padding-top: 50px;
    display: inline-block;
    width: auto;
}

.header-text {
    z-index: 2;
    margin: auto;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 20px;
}

.header-block::after {
    z-index: 1;
    border-bottom: solid 10px;
    border-left: solid 10px;
    color: #df744a;
    content: '';
    display: block;
    width: 95%;
    height: 55px;
    margin-left: -10px;
    margin-top: -75px;
    margin-bottom: 20px;
}

.item-container {
    width: 90%;
    margin-inline: auto;
}

.item-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.item-header {
    z-index: 2;
    width: 30%;
}

.item-position {
    width: 60%;
}

.item-header::after {
    content: '';
    z-index: 1;
    display: block;
    margin-top: 5px;
    width: 100%;
    margin-bottom: -10px;
    margin-left: -50vw;
    transition: margin-left 500ms ease;
}

.item-header:hover::after {
    transition: margin-left 500ms ease;
    margin-left: 0px;
}

.item-description-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -15px;
}

.item-description-date {
    width: 30%;
    margin-top: 0px;
}

.item-description-list {
    width: 55%;
    margin-top: 0px;
    list-style: none;
    margin-left: 3vw;
}

@media (min-width: 1230px) {
    .item-description-list {
        margin-left: 4vw;
    }
}

.item-list-item {
    margin-bottom: 20px;
    margin-left: 0px;
}

@media (max-width: 750px) {
    .item-header-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-header {
        width: 100%;
    }
    .item-header::after {
        margin-left: 0px;
    }
    .item-position {
        width: 100%;
        margin-top: 0px;
    }
    .item-description-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }
    .item-description-date {
        width: 100%;
        margin-top: -15px;
    }
    .item-description-list {
        width: 100%;
        margin-top: 0px;
        margin-left: -40px;
    }
}