.App {
  text-align: center;
  width: 100vh;
  height: 100vh;
  background-image: url(https://www.nawpic.com/media/2020/christmas-themed-nawpic-9.jpg);
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.wallpapersafari.com/76/70/olPTaZ.jpg");

  /* Set a specific height */
  height: 100vh;
  margin-top: -23px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  padding-top: 40%;
  left: 20%;
  color: rgb(0, 255, 221);
}
.hero-text-2 {
  text-align: center;
  color: rgb(0, 255, 221);
}

